<html>
    <head>
        <title>New Game</title>
    </head>
    <body>
        <h3>New Game</h3>
        <form method="POST" action="game.html">
            <label for="num_digits">How long a number do you want?</label>
            <select name="num_digits">
                {% for i in range(2, 7) %}
                    {% if i == 4 %}
                    <option value="{{i}}" selected>{{i}}</option>
                    {% else %}
                    <option value="{{i}}">{{i}}</option>
                    {% endif %}
                {% endfor %}
            </select><br>
            <label for="unique_digits">How many unique digits do you want?</label>
            <select name="unique_digits">                
                {% for i in range(4, 11) %}
                {% if i == 6 %}
                <option value="{{i}}" selected>{{i}}</option>
                {% else %}
                <option value="{{i}}">{{i}}</option>
                {% endif %}                {% endfor %}</select><br>
            <label for="allow_repeats">Allow repeated digits?</label>
            <input type="checkbox" name="allow_repeats" value="allow_repeats"></input> <br>  
            <label for="num_guesses">How many guesses do you want?</label>
            <select name="num_guesses">
                {% for i in range(5, 26) %}
                {% if i == 10 %}
                <option value="{{i}}" selected>{{i}}</option>
                {% else %}
                <option value="{{i}}">{{i}}</option>
                {% endif %}                {% endfor %}
            </select><br>
            <input type="submit" value="Start Game"/>
        </form>
    </body>
</html>