<html>
    <head>
        <title>New Game</title>
    </head>
    <body>
        <h3>New Game</h3>
        <form method="POST" action="game.html">
            <label for="num_digits">How long a number do you want?</label>
            <select name="num_digits">{{num_digits}}</select>
            <label for="unique_digits">How many unique digits do you want?</label>
            <select name="unique_digits">{{unique_digits}}</select>
            <label for="allow_repeats">Allow repeated digits?</label>
            <label for="num_guesses">How many guesses do you want?</label>
            <select name="num_guesses">{{num_guesses}}</select>
            <input type="checkbox" name="allow_repeats" value="allow_repeats"checked="false"></input>   
            <input type="submit" value="Start Game"/>
        </form>
    </body>
</html>