td.right {
    background-color: green;
    color: white;
    text-align: center;
}

td.close {
    background-color: yellow;
    color: black;
    text-align: center;
}

td.wrong {
    background-color: red;
    color: white;
    text-align: center;
}

table {
    padding: 0%;
}